<html>
  <head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://rawgit.com/protyze/aframe-curve-component/master/dist/aframe-curve-component.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
    <script src="https://rawgit.com/andreasplesch/aframe-meshline-component/master/dist/aframe-meshline-component.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
    <script src="/static/jszip.min.js"></script>
    <script src="/static/utils.js"></script>
    <script src="/static/color-gradient-component.js"></script>
    <script src="/static/mimic-rotation-component.js"></script>
    <script src="/static/cells-component.js"></script>
    <script src="/static/watch-component.js"></script>
    <script src="/static/remove-light-component.js"></script>
    <script src="/static/aframe-gui.min.js"></script>
  </head>
  <body>
    <a-scene id="scene" renderer="alpha: false" stats>

      <a-entity id="rig">
          <a-entity camera="far: 300;" look-controls id="player-camera">
              <a-entity id="hud" geometry="primitive: plane; width: .5; height: .5;" material="opacity: .3; color:gray; transparent: true;">
                <a-sphere id="mapPlayer" radius=".006" color="red"></a-sphere>
                <a-entity mimic-rotation="masterId: drawContainer;" id="hudMapContainer">
                    <a-entity scale=".01 .01 .01" id="curve-map"></a-entity>
                    <a-entity scale=".01 .01 .01" id="graph-map" mimic-rotation="masterId: graph-container;"></a-entity>
                </a-entity>
              </a-entity>
              <a-gui-cursor id="cursor"
                    raycaster="objects: [gui-interactable]"
                    fuse="true" fuse-timeout="2000"
                    design="ring"
              >
              </a-gui-cursor>
          </a-entity>
      </a-entity>


      <a-entity id="mainContainer">
        <a-entity id="drawContainer" animation="property: rotation; dir: reverse; easing: linear; to: 0 360 0; loop: true; dur: 60000">
          <a-entity id="curve-container"></a-entity>
          <a-entity id="graph-container"></a-entity> 
          <a-entity id="cells-container"></a-entity>
          <a-entity id="graph-labels-container"></a-entity>
        </a-entity>

        <a-entity id="menuContainer" position="10 0 0" watch="targetId: player-camera">
          
          <a-image src="/assets/SCVR_logo_512x256.png" position="0 4 0" width="6" height="3"></a-image>
          <a-gui-flex-container
            flex-direction="column" justify-content="flexStart" align-items="center" component-padding="0.1" opacity="0.7" width="3.7" height="5"
            position="-1.85 0 0" rotation="0 0 0" id="menu">
            <a-gui-button
              id="pauseGlobalRotation"
              width="2.7" height="0.75"
              value="Toggle Rotation"
              font-family="Arial"
              margin="-0.2 0 0.5 0">
            </a-gui-button>
            <a-gui-input id="search_input"
                width="2.7" height="0.7"
                text="value: Search:; width: 6; color: black; align: center;"
                value="placeholder"
            >
            </a-gui-input>
            <a-gui-input
              id="result1"
              width="2.7" height="0.75"
              text="value: ; width: 6; color: black; align: center;"
            >
            </a-gui-input>
            <a-gui-input
              id="result2"
              width="2.7" height="0.75"
              text="value: ; width: 6; color: black; align: center;"
            >
            </a-gui-input>
            <a-gui-input
              id="result3"
              width="2.7" height="0.75"
              text="value: ; width: 6; color: black; align: center;"
            >
            </a-gui-input>
          </a-gui-flex-container>

          <a-gui-flex-container
            flex-direction="column" justify-content="flexStart" align-items="center" component-padding="0.1" opacity="0.7" width="3.7" height="5"
            position="1.85 0 0" rotation="0 0 0" id="annotation_menu">
            <a-gui-label 
              width="2.7" height="0.75"
              value="Annotations"
              font-family="Times New Roman"
              background-color="#22252a"
              font-color="#d3d3d4"
              margin="-0.2 0 0.5 0">
            </a-gui-label>
          </a-gui-flex-container>

          <a-gui-flex-container
            flex-direction="column" justify-content="center" align-items="normal" component-padding="0.1" opacity="0.7" width="3.7" height="5"
            position="0 -5 0" rotation="0 0 0" id="legend">
          </a-gui-flex-container>
        </a-entity>   
      </a-entity>

      <a-entity environment="skyType: atmosphere; dressing: none; lighting: none; groundTexture: checkerboard; groundColor: #c9c4c4; groundColor2: #c9c4c4; grid: none; shadow: false" remove-lighting></a-entity>
    </a-scene>
    <script src="/static/index_v2.js"></script>
  </body>
</html>
